@import url("./assets/fonts/switzer/css/switzer.css");
@import url("./assets/fonts/panchang/css/panchang.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.radix-themes {
  --default-font-family: Switzer-Variable;
  --heading-font-family: Panchang-Extrabold;
}

a {
  text-decoration: inherit;
}

.logo {
  a {
    color: inherit;
  }
}
.text-hover-underline *:hover {
  @apply underline;
}
